@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

* {
	font-family: 'Bebas Neue', cursive;
}

body {
	background: #f5dd40;
}

button {
	background: #ff3333;
	border: none;
	padding: 10px 14px;
	font-size: 16px;
	cursor: pointer;

	svg {
		width: 20px;
		height: 20px;
	}
}

button:active {
	padding: 8px 12px;
}

.flex {
	margin: 15px 0 15px 0;
	flex-direction: column;
	font-size: 31px;
	justify-content: center;

	#leaf {
		width: 175px;
		height: 175px;
		margin: 0 auto;
		display: block;
	}

	[data-test-id="CircularProgressbarWithChildren"] {
		width: 700px;
		margin: auto;
	}

	#pomodoro-name {
		font-size: 70px;
		text-align: center;
		margin: 0 15px 0 15px;
	}

	.break-session {
		display: flex;
		align-items: center;
		justify-content: center;

		article {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 220px;

			header {
				flex: 0 1 100%;
				text-align: center;
			}

			button,
			div {
				flex: 1 0 33.3%;
				text-align: center;
				height: 40px;
			}
		}

		.bcontrol {
			margin-right: 7px;
		}

		.scontrol {
			margin-left: 7px;
		}
	}

	.session-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 12px;

		#dots {
			height: 60px;

			span {
				height: 40px;
				width: 40px;
				background-color: #b5a647;
				border-radius: 50%;
				display: inline-block;
				margin-right: 5px;
				margin-left: 5px;
				animation-duration: 2.5s;
				animation-iteration-count: infinite;
			}

			@keyframes fade {
				0% {
					background: #b5a647;
				}
				50% {
					background: #ff3333;
				}
				100% {
					background: #b5a647;
				}
			}
		}

		header {
			flex: 0 1 100%;
			text-align: center;
			font-size: 36px;
			height: 35px;
		}

		div {
			flex: 0 1 100%;
			text-align: center;
			font-size: 55px;
		}

		svg {
			width: 40px;
			height: 40px;
			cursor: pointer;
		}

		#start_stop,
		#next,
		#reset {
			margin: 0 5px 0 5px;
		}
	}
}

@media only screen and (max-height: 795px) {
	.flex {
		margin-top: 0;
	}
}

@media only screen and (max-width: 475px) {
	.flex {
		margin-bottom: 30px;
		margin-top: 5px;
		.break-session {
			height: auto;
			display: block;

			article {
				margin: 0 !important;
				display: block;
				width: 100vw;

				div {
					width: auto;
				}

				button {
					display: block;
					width: 50vw;
					margin: 0 auto;
				}
			}

			.scontrol {
				margin-top: 15px !important;
			}
		}
	}
}

@media only screen and (max-width: 730px) {
	.flex {
		[data-test-id="CircularProgressbarWithChildren"] {
			width: 300px;
			margin-top: 15px;
		}
	}
}

@media only screen and (max-width: 330px) {
	.flex {
		[data-test-id="CircularProgressbarWithChildren"] {
			width: 100vw;
		}
	}
}
